[program:CuantoQuedaBot]
autostart=false
command=go run CuantoQuedaBot.go
user=bot
directory=/home/bot/CuantoQuedaBot
environment=
	GOROOT="/usr/lib/go",
	GOBIN="/usr/bin",
	GOPATH="/home/bot/lib/go",
	BOT_TOKEN="{{bot_token}}",
	PAPERTRAIL_HOST="{{papertrail_host}}",
	PAPERTRAIL_PORT="{{papertrail_port}}",
redirect_stderr=true
stdout_logfile=/var/log/supervisor/gobot.log
